main {
	height: calc(100vh - 60px);
	.home-container {
		background-image: url("../images/disc-golf-bg2.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		.hero-container {
			text-align: center;
			color: #fff;
			padding: 1rem;

			h1 {
				font-size: 3rem;
				text-transform: uppercase;
			}

			p {
				font-size: 1rem;
				margin: 1rem 0 2rem;
			}

			button {
				background-color: red;
				padding: 1rem 3rem;
				border: 0;
				border-radius: 10rem;
				a {
					text-decoration: none;
					font-size: 1.25rem;
					&:link,
					&:active,
					&:visited {
						color: #fff;
						font-weight: 700;
					}
				}
			}
		}
	}
}
