@use "reset";

body {
	background-color: #ccc;
}
header {
	padding: 1rem;

	.header-container {
		display: flex;

		.logo {
		}

		nav {
			&.desktop-nav-bar {
				display: none;
			}
			ul {
				display: flex;
				list-style-type: none;

				li {
					margin: 0 1rem;
				}
			}
		}
	}
}

nav {
	&.mobile-navbar {
		position: relative;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.menu-selector-wrapper {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			hr {
				&.menu-selector {
					position: relative;
					height: 3px;
					width: 100%;
					left: 0;
					background-color: #000;
					transition: all 0.25s ease-in-out;

					&.menu-1 {
						left: 100%;
					}

					&.menu-2 {
						left: 200%;
					}

					&.menu-3 {
						left: 300%;
					}

					&.menu-4 {
						left: 400%;
					}
				}
			}
		}

		ul {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			list-style-type: none;
			background-color: #fff;
			height: 5rem;
			overflow: hidden;

			li {
				position: relative;
				width: 100%;
				height: 5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border-top: 2px solid transparent;

				.mobile-menu-item-container {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.mobile-menu-icon-container {
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						background-color: #fff;
						transition: all 0.25s ease-in-out;
					}
				}

				&.menu-active {
					.mobile-menu-icon-container {
						top: 0;
					}
				}
			}
		}
	}
}
