* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  height: 90vh;
}
main .home-container {
  background-image: url("../images/disc-golf-bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .home-container .hero-container {
  text-align: center;
  color: #fff;
  padding: 1rem;
}
main .home-container .hero-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
main .home-container .hero-container p {
  font-size: 1rem;
  margin: 1rem 0 2rem;
}
main .home-container .hero-container button {
  background-color: red;
  padding: 1rem 3rem;
  border: 0;
  border-radius: 10rem;
}
main .home-container .hero-container button a {
  text-decoration: none;
  font-size: 1rem;
}
main .home-container .hero-container button a:link, main .home-container .hero-container button a:active, main .home-container .hero-container button a:visited {
  color: #fff;
  font-weight: 700;
}

body {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header nav .hamburger-container .hamburger-line {
  position: relative;
  background-color: #000;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
header nav .hamburger-container .hamburger-line:nth-child(2) {
  margin: 0.35rem 0;
}
header nav .hamburger-container .hamburger-line.line-hidden {
  opacity: 0;
}
header nav .hamburger-container .hamburger-line.rotate-down {
  transform: rotate(45deg) translateY(-1px);
  transform-origin: top left;
  left: 2px;
}
header nav .hamburger-container .hamburger-line.rotate-up {
  transform: rotate(-45deg) translateY(1px);
  transform-origin: top left;
}
header nav .logo-and-title {
  display: flex;
}
header nav .logo-and-title img {
  margin-right: 0.25rem;
}
header nav .logo-and-title .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #000;
}
header nav .shopping-cart {
  position: relative;
}
header nav .shopping-cart .cart-count {
  position: absolute;
  top: -10px;
  right: -3px;
  background-color: red;
  padding: 0.5rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 600;
}
header nav .shopping-cart .fa-cart-shopping {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
header nav ul {
  display: none;
  list-style-type: none;
}
header nav ul li {
  margin: 0 1rem;
}
header .mobile-nav {
  position: absolute;
  top: 100%;
  left: -75%;
  width: 75vw;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
header .mobile-nav.active {
  opacity: 1;
  left: 0;
}
header .mobile-nav .mobile-nav-item {
  padding: 1.25rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #eee;
}
header .mobile-nav .mobile-nav-item a {
  text-decoration: none;
  color: #000;
}

section.separator {
  background-color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  color: #777;
}
section.separator h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
section.separator h4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0;
}
section.location h3 {
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: 400;
}
section.location img {
  width: 100%;
}

footer {
  background-color: #fff;
  background-image: url("../images/grassy-knoll.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  text-align: center;
}
footer h2 {
  color: #fff;
  margin-top: 2rem;
}
footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;
}
footer form input,
footer form textarea {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgba(170, 170, 170, 0.6666666667);
  color: #ccc;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
footer form input::-moz-placeholder, footer form textarea::-moz-placeholder {
  color: #ccc;
}
footer form input::placeholder,
footer form textarea::placeholder {
  color: #ccc;
}
footer form button#submit {
  background-color: #557936;
  padding: 1rem 3rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
}

@supports (height: 100dvh) {
  .mobile-nav {
    height: calc(100dvh - 100%);
  }
}