@use "reset";
@use "main";

body {
	background-color: #ccc;
	min-height: 100vh;
}
header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #fff;
	border-bottom: 1px solid #eee;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		.hamburger-container {
			.hamburger-line {
				position: relative;
				background-color: #000;
				height: 4px;
				width: 30px;
				border-radius: 10px;
				transition: all 0.4s ease-in-out;
				opacity: 1;

				&:nth-child(2) {
					margin: 0.35rem 0;
				}

				&.line-hidden {
					opacity: 0;
				}

				&.rotate-down {
					transform: rotate(45deg) translateY(-1px);
					transform-origin: top left;
					left: 2px;
				}

				&.rotate-up {
					transform: rotate(-45deg) translateY(1px);
					transform-origin: top left;
				}
			}
		}

		.logo-and-title {
			display: flex;

			img {
				margin-right: 0.25rem;
			}
			.title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 1.25rem;
				color: #000;
			}
		}

		.shopping-cart {
			position: relative;

			.cart-count {
				position: absolute;
				top: -10px;
				right: -3px;
				background-color: red;
				padding: 0.5rem;
				border-radius: 50%;
				width: 1.25rem;
				height: 1.25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				font-size: 0.625rem;
				font-weight: 600;
			}

			.fa-cart-shopping {
				font-size: 1.5rem;
				padding-right: 0.5rem;
			}
		}
		ul {
			display: none;
			list-style-type: none;

			li {
				margin: 0 1rem;
			}
		}
	}

	.mobile-nav {
		position: absolute;
		top: 100%;
		left: -75%;
		width: 75vw;
		background-color: #fff;
		transition: all 0.4s ease-in-out;
		opacity: 0;

		&.active {
			opacity: 1;
			left: 0;
		}

		.mobile-nav-item {
			padding: 1.25rem 1rem;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1em;
			border-bottom: 1px solid #eee;

			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
}

@supports (height: 100dvh) {
	.mobile-nav {
		height: calc(100dvh - 100%);
	}
}
