* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ccc;
}

header {
  padding: 1rem;
}
header .header-container {
  display: flex;
}
header .header-container nav.desktop-nav-bar {
  display: none;
}
header .header-container nav ul {
  display: flex;
  list-style-type: none;
}
header .header-container nav ul li {
  margin: 0 1rem;
}

nav.mobile-navbar {
  position: relative;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
nav.mobile-navbar .menu-selector-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
nav.mobile-navbar .menu-selector-wrapper hr.menu-selector {
  position: relative;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #000;
  transition: all 0.25s ease-in-out;
}
nav.mobile-navbar .menu-selector-wrapper hr.menu-selector.menu-1 {
  left: 100%;
}
nav.mobile-navbar .menu-selector-wrapper hr.menu-selector.menu-2 {
  left: 200%;
}
nav.mobile-navbar .menu-selector-wrapper hr.menu-selector.menu-3 {
  left: 300%;
}
nav.mobile-navbar .menu-selector-wrapper hr.menu-selector.menu-4 {
  left: 400%;
}
nav.mobile-navbar ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  background-color: #fff;
  height: 5rem;
  overflow: hidden;
}
nav.mobile-navbar ul li {
  position: relative;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
}
nav.mobile-navbar ul li .mobile-menu-item-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.mobile-navbar ul li .mobile-menu-item-container .mobile-menu-icon-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
nav.mobile-navbar ul li.menu-active .mobile-menu-icon-container {
  top: 0;
}